.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;

    &__title{
        font-size: 30px;
        margin-top: 14px;
        margin-bottom: 5px;
    }

    &__arrow-return{
        display: flex;
        align-items: center;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin-top: 23px;
        margin-left: 23px;
        width: 20px;
        height: 20px;
        
        &__fa {
            font-size: 20px;
        }
    }
}
   