.menu{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img{
        height: 275px;
        width: 100%;
        object-fit: cover;
    }

    &__main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: relative;
        top:-55px;
        gap: 42px;
        padding: 40px 13px;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $color-grey-light;
        max-width: 1055px;
        

        &__name{
            display: flex;
            margin: 0 28px 0 5px;
            justify-content: space-between;
            gap: 24px;
        }

        &__cards{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;
            max-width: 634px;
        }

        &__btn {
            padding: 0 50px;
        }
    }
}