.restaurants__section {
    display: flex;
    justify-content: center;
    padding : 50px 15px;
    background-color: $color-grey-light;

    @media (min-width: 768px){
        padding : 50px 12.5%;
        justify-content: start;
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        max-width: 490px;

        @media (min-width: 768px){
            max-width: none;
        }

        &__cards{
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media (min-width: 768px){
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
            }

            .restaurant-card{
                @media (min-width: 768px){
                    width: 45.5%;
                }
            }
        }
    }
}
