.location{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: $middle-background;
    color: $dark-background;

    &__text{
        font-weight: 500;
    }
}