/****** UTILS ******/
/****** reset ******/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

/****** variable ******/
/****** base ******/
* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.body__container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

/****** COMPONENTS ******/
/****** logo ******/
.logo {
  font-family: "Shrikhand", cursive;
}

/****** button ******/
.btn {
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
}

/****** step ******/
.step {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 22px;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  position: relative;
  left: -10px;
}
.step__fa {
  color: #7e7e7e;
  width: 20px;
}
.step__fa--color {
  color: #9356DC;
}

/****** card ******/
.restaurant-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant-card__link {
  display: block;
  position: relative;
}
.restaurant-card__link__img {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: center bottom;
}
.restaurant-card__link__img__center {
  object-position: 50% 60%;
}
.restaurant-card__link__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 29px;
  right: 15px;
  top: 15px;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-size: 14px;
  color: #008766;
}
.restaurant-card__link__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 31%;
  padding: 15px 25px 15px 15px;
}
.restaurant-card__link__content__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurant-card__link__content__text__title {
  font-size: 18px;
  font-weight: 700;
}
.restaurant-card__link__content__text__subtitle {
  font-size: 17px;
  font-weight: 300;
}

/****** like ******/
.like {
  font-size: 25px;
}

/****** LAYOUT ******/
/****** header ******/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
.header__title {
  font-size: 30px;
  margin-top: 14px;
  margin-bottom: 5px;
}
.header__arrow-return {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 23px;
  font-size: 20px;
}

/****** footer ******/
.footer-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  padding: 22px 0 22px 25px;
}
@media (min-width: 768px) {
  .footer-section {
    flex-direction: row-reverse;
    align-items: end;
    height: 114px;
    padding: 30px 60px;
    gap: 100px;
  }
}
.footer-section__title {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.footer-section__nav__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  .footer-section__nav__links {
    flex-direction: row;
    gap: 25px;
  }
}
.footer-section .link {
  color: white;
  font-weight: 300;
}
.footer-section .link .fa-solid {
  font-size: 13px;
  width: 11px;
}
.footer-section .link--bold {
  display: flex;
  gap: 11px;
  font-weight: 400;
}

/****** location ******/
.location {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #eaeaea;
  color: #353535;
}

/****** explore ******/
.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 288px;
  background-color: #f7f7f7;
}
.explore__title {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 10px;
  text-align: center;
}
.explore__text {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 27px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
.explore__btn {
  padding: 0 20px;
}

/****** process ******/
.process__section {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}
@media (min-width: 768px) {
  .process__section {
    margin: 50px 12.5%;
    justify-content: start;
  }
}
.process__section__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 335px;
}
@media (min-width: 768px) {
  .process__section__box {
    max-width: none;
  }
}
.process__section__box__steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .process__section__box__steps {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .process__section__box__steps .step {
    width: 335px;
  }
}

/****** restaurants ******/
.restaurants__section {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
  background-color: #f7f7f7;
}
@media (min-width: 768px) {
  .restaurants__section {
    padding: 50px 12.5%;
    justify-content: start;
  }
}
.restaurants__section__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 490px;
}
@media (min-width: 768px) {
  .restaurants__section__box {
    max-width: none;
  }
}
.restaurants__section__box__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .restaurants__section__box__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .restaurants__section__box__cards .restaurant-card {
    width: 45.5%;
  }
}

/****** menu ******/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.menu__main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -55px;
  gap: 42px;
  padding: 40px 13px;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f7f7f7;
}
.menu__main__name {
  display: flex;
  margin: 0 28px 0 5px;
  justify-content: space-between;
}
.menu__main__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/****** PAGES ******/
/****** home ******/
/****** restaurant ******/

/*# sourceMappingURL=style.css.map */
