*{
    font-family: $font-main;
}

body{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.body__container{
        width: 100%;
        box-sizing: border-box;
    }

h2{
    font-size: 24px;
    font-weight: 700;
}