
/****** MENU ANIMATION ******/

@keyframes apparition{   
    0%{
        transform: translate(100%);
        opacity:1;
    }

    30%{
        transform-origin: left;
        transform: scale(0.5, 1.2) translate(-10px);
    }

    35%{
        transform-origin: left;
        transform: scale(1.1, 0.85) translate(10px);
    }

    40%{
        transform-origin: left;
        transform: scale(0.8, 1.06) translate(-5px);
    }

    45%{
        transform-origin: left;
        transform: scale(1.03, 0.9) translate(5px);
    }

    50%{
        transform-origin: left;
        transform: scale(1, 1);
    }

    100%{
        transform: scale(1, 1);
        opacity:1;
    }
}

/***** LIKE HEART ANIMATION ******/

@keyframes heart {
    0% {transform: scale(0);}
    40%{transform: scale(1.5);}
    48%{transform: scale(1);}
    50%{transform: scale(1.5);}
    99%{transform: scale(1.5);}
    100%{transform: scale(1);}
}

/************ DOT ANIMATION *****************/

@keyframes dot1{
    20%{transform: translate(-19.5px, -25px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(-19.5px, 0) scale(0);
    }
}

@keyframes dot2{
    20%{transform: translate(-17.7px,-31.4px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(-17.7px, 0) scale(0);
    }
}

@keyframes dot3{
    20%{transform: translate(-14.1px,-37.6px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(-14.1px, 0) scale(0);
    }
}

@keyframes dot4{
    20%{transform: translate(-8.8px,-43.2px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(-8.8px, 0) scale(0);
    }
}

@keyframes dot5{
    20%{transform: translate(-2.4px,-47.2px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(-2.4px, 0) scale(0);
    }
}

@keyframes dot6{
    20%{transform: translate(5px,-49.5px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(5px,0) scale(0);
    }
}

@keyframes dot7{
    20%{transform: translate(39.5px,-25px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(39.5px,0) scale(0);
    }
}

@keyframes dot8{
    20%{transform: translate(37.7px,-31.4px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(37.7px,0) scale(0);
    }
}

@keyframes dot9{
    20%{transform: translate(34.1px,-37.6px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(34.1px,0) scale(0);
    }
}

@keyframes dot10{
    20%{transform: translate(28.8px,-43.2px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(28.8px,0) scale(0);
    }
}

@keyframes dot11{
    20%{transform: translate(22.4px,-47.2px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(22.4px,0) scale(0);
    }
}

@keyframes dot12{
    20%{transform: translate(15px,-49.5px) scale(1);
        z-index: 2;
    }
    100%{transform: translate(15px,0) scale(0);
    }
}