$color-main: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99e2d0;
$color-grey-dark: #353535;
$color-dark-2: #7e7e7e;
$color-grey-light: #f7f7f7;
$color-grey-middle: #eaeaea;
$color-contrast: white;
$color-new-background: #99e2d0;
$color-new-text: #008766;

$font-main: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;