$color-main: #9356DC;
// $color-main-t: rgba(147, 86, 220, 0.5);
$color-main-d: #8541d8;
$color-main-d2: 	hsl(267, 66%, 53%);
$color-secondary: #FF79DA;
// $color-secondary-t:rgba(255, 121, 218, 0.5);
$color-tertiary: #99e2d0;
// $color-tertiary-t:rgba(153, 226, 208,0.5);
$color-grey-dark: #353535;
$color-dark-2: #7e7e7e;
$color-grey-light: #f7f7f7;
$color-grey-middle: #eaeaea;
$color-contrast: white;
$color-new-background: #99e2d0;
$color-new-text: #008766;

$font-main: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;